<!-- <div style="padding:50px">-->
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
  </head>
  <body>
<div >
 <!-- <div class="row">
    <div class="col-md-2" style="background-color:lavender;">.</div>
    <div class="col-md-6" style="background-color:lavenderblush;">.</div>
  </div>-->
 <div class="row">
   <br><br>
    <div class="col-sm-1" style="background-color:lavender;">
      <button mat-button class="stylepopupbuttonconfirm" routerLink="/view">view</button>
      <br><br>
       <button mat-button class="stylepopupbuttonconfirm" routerLink="/transfer" >transfer</button>
       <br><br>
        <button mat-button class="stylepopupbuttonconfirm" routerLink="/clone">clone</button>
        <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    </div>
    <!--<div class="col-sm-11">-->
    <div class="col-sm-11" style="background-color:lavenderblush;">
      <!--<div class="jumbotron text-center" >
      Equipmax</div>-->
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br><br><br><br>
      <br><br><br><br><br>
    </div>
    
  </div>
  <!-- <div class="row" >
        <div class="col-md-2"> 
      <button mat-button class="stylepopupbuttonconfirm" routerLink="/view">view</button>
        </div>
         <div class="col-md-4">
          
        </div>
        </div>
    <br><br><br>
   <div class="row 2"> 
    <div class="col-md-2"> 
      <button mat-button class="stylepopupbuttonconfirm" routerLink="/transfer" >transfer</button>
    </div>
      <div class="col-md-4">
        
     </div>
   </div>
    <br><br><br>
   <div class="row 3"> 
    <div class="col-md-2"> 
      <button mat-button class="stylepopupbuttonconfirm" routerLink="/clone">clone</button>
    </div>
      <div class="col-md-4">
        
     </div>
        </div>
    
  </div> -->
</div>
  </body>
