<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<!--<div class="container" style="padding: 25px;">-->
  <div id="aa">
    <div id="hd" class="row">
      <div class="hdDisp">
        <b id="movName" routerLink="/start1" > HpLaptop</b>
       </div> 
    </div>
    
    <mat-tab-group>
        <mat-tab label="Transfer">  </mat-tab>
      </mat-tab-group>    
    
      <div class="container" >
          <br>
          <br>
          <div class="row">          
          <div class="col-sm-4">
          <img class="img-responsive"  src="assets/lap1.jpeg" class="img-thumbnail" alt="Cinque Terre" width="500" height="200"> 
          </div>
          <div class="col-sm-7">
            <form>
              <div class="form-group">
                <label for="comment">Select Location</label><br>
                <select >
                    <option>Select</option>
                    <option>Hyderabad</option>
                    <option>Mumbai</option>
                    <option>Bangalore</option>
                    <option>Delhi</option>
                  </select>
              </div>
              <!--<div class="form-group">
                <label for="usr">Enter To location</label>
                <input type="text" class="form-control" id="usr">
              </div>-->
              <div class="form-group">
                <label for="comment">Enter Qunatity</label><br>
                <select >
                    <option>Select</option>
                    <option>1</option>
                    <option>2</option>
                  </select>
              </div>
              <div class="form-group">
                <label for="comment">Comments:</label>
                <textarea class="form-control" rows="5" id="comment"></textarea>
              </div>
              <button mat-button class="stylepopupbuttonconfirm"  routerLink="/receipt">Send Request</button>
            <br><br>
            </form>
          </div></div></div>
          </div>
        </body>
    <!-- <form>
        <div class="form-group">
          <label for="usr">Enter To location</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="usr">Enter Item</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="comment">Enter Qunatity</label><br>
            <select >
                <option>Select</option>
                <option>1</option>
                <option>2</option>
              </select>
          </div>
          <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
         
        </div>
          </div>
        
<button mat-button class="stylepopupbuttonconfirm"  routerLink="/receipt">Send Request</button>
      
    </form>-->