<head>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
<div class="container" style="padding: 25px;">
    <form>
        <div class="form-group">
          <label for="usr">Enter To location</label>
          <input type="text" class="form-control" id="usr">
        </div>
        <div class="form-group">
            <label for="usr">Enter Item</label>
            <input type="text" class="form-control" id="usr">
          </div>
          <div class="form-group">
            <label for="comment">Enter Qunatity</label><br>
            <select >
                <option>Select</option>
                <option>1</option>
                <option>2</option>
              </select>
          </div>
          <div class="form-group">
            <label for="comment">Comments:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
         
        </form>
<!--<br><br>
Enter Item
<input type="text">
<br><br>
Enter Quantity
<input type="text">
<br><br>
Enter Comments
<input type="textarea">
<br><br>-->

<!--<button class="btn btn-primary" routerLink="/receipt">Submit</button><br>-->
<button mat-button class="stylepopupbuttonconfirm"  routerLink="/receipt">Submit</button>

</div>
  </body>