<!--<label >Hii</label>-->

<mat-toolbar class="col-bg-header">
  <div class="logo" routerLink="/start1">
    EquipMax. <span class="apptype">Inventory Management</span>
  </div>
</mat-toolbar>

<div style="padding:10px">
<!--<select >
  <option>Select</option>
  <option>Hii</option>
  <option>Hello</option>
</select>

<br><br>

<mat-form-field style=" margin-bottom: -1.5em;margin-top: -0.5em">
  <mat-label>Select</mat-label>
  <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value"> {{food.viewValue}}</mat-option>
  </mat-select>
</mat-form-field>

<br><br>

<mat-form-field style=" margin-bottom: -1.5em;margin-top: -0.5em">
  <input matInput [matDatepicker]="picker" readonly placeholder="Choose a date">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br><br>

<button mat-button class="stylepopupbuttonconfirm" >Submit</button>
<button mat-button  class="stylepopupbuttoncancel" >Cancel</button>

<br><br>

  <input type="text" >-->
<!-- <input type="text" [matAutocomplete]="auto"> -->
<!-- <mat-autocomplete #auto="matAutocomplete">
      <mat-option  *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
  </mat-autocomplete> -->
  
 <!--<div id="hd" class="row">
    <div class="hdDisp">
      <b id="movName" routerLink="/start1" > Items</b>-->
     <!-- <button mat-button class="stylepopupbuttonconfirm" routerLink="/start">Dashboard</button>-->
  <!--  </div> 
  </div>
  <h1 class="settitle">
    {{title}}
  </h1>-->
  
 <!-- <ngx-barcode [bc-value]="234" [bc-display-value]="true"> 

  </ngx-barcode>-->

  <router-outlet></router-outlet>
</div> 
<!--  
  <div id="hd" class="row">
    <div class="hdDisp">
        <h3><b id="movName"> Select a Theater</b></h3>
    </div>
</div>
-->