<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div id="aa">
<div id="hd" class="row">
  <!--<div class="hdDisp">-->
    <b id="movName" routerLink="/start1" style="margin-left: 4cm;"> HpLaptop</b>
   <!-- <button mat-button class="stylepopupbuttonconfirm" routerLink="/start">Dashboard</button>-->
  <!--</div> -->
</div>

<mat-tab-group>
    <mat-tab label="Details">  </mat-tab>
    <!--<mat-tab label="Files"> Content 2 </mat-tab>-->
    
  </mat-tab-group>
  
     
    <div class="container" >
      <br>
      <br>

     <!--<img class="img-responsive" src="assets/images/myimage.png">-->
      <img class="img-responsive" src="assets/lap1.jpeg" class="img-thumbnail" alt="Cinque Terre" width="500" height="200"> 
    </div>
    <br><br>
   <!-- <b style="color: brown;">DETAILS:</b>-->
    <!--<mat-list>
      <mat-list-item><b>Quantity:</b>2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item><b>Department</b><br><br>Main Office<br></mat-list-item> 
      <mat-divider></mat-divider>
      <mat-list-item><b>Depreciation rate</b><br><br>2.5<br></mat-list-item>
      <mat-divider></mat-divider>
      
    </mat-list>-->
    <div class="row">
     <div class="col-sm-6" style="margin-left: 1cm;">
    <mat-list>
      <b><h2 mat-subheader><b>Details</b></h2></b>
      <mat-list-item >
        <h4 mat-line>Quantity</h4><br><h3 mat-line><br></h3>
        <p mat-line>  2</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item >
        <h4 mat-line>Department</h4><br><h3 mat-line><br></h3>
        <p mat-line>  Main Office</p>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item >
        <h4 mat-line>Depreciation rate</h4><br><h3 mat-line><br></h3>
        <p mat-line>  2.5</p>
      </mat-list-item>
      <mat-divider></mat-divider>
     
    </mat-list>
    <br>
    <button mat-button class="stylepopupbuttonconfirm"  routerLink="/clone1">clone</button>
     </div>
     <div class="col-sm-3">
       <br>
                       <h3>   Barcode:</h3><br><br>
      <mat-list>
        
        <mat-list-item> 
          <ngx-barcode [bc-value]="10012" [bc-display-value]="true">

          </ngx-barcode> </mat-list-item>
        
       </mat-list>
     
     </div>
    </div>
    <!--<h1>
      {{title}}
    </h1>
    <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>-->
  
  </div>
<!--<mat-card>Simple card</mat-card>-->
</body>
