@import "src/theme.scss";
select{
    border: 1px solid #dce0d4;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    width: max-content;
}
label{
    font-size: 16px;
    color: black;
    padding-left: 10px;
 }
 input[type='text']{
     border: 1px solid #dce0d4;
     border-radius: 5px;
     padding: 5px;
 }
 input[type='number']{
     border: 1px solid #dce0d4;
     border-radius: 5px;
     padding: 5px;
 }
 input[type='button']{
     background-color: mat-color($reddish-app-accent);
     color: white;
     font-size: 16px; 
     border: 0px solid #dce0d4;
     border-radius: 5px;
     margin: 5px;
     padding: 5px;
     padding-left: 15px;
     padding-right: 15px;
     cursor: pointer;
     align-content: center;
 }
 input[type='button']:hover{
     background-color: rgb(55, 102, 133);
 }
.stylepopupbuttonconfirm{
    background-color: mat-color($reddish-app-primary);
    color: white;
    font-size: 16px; 
}
.stylepopupbuttoncancel{
    margin-left: 10px;
    background-color: rgb(179, 41, 37);
    color: white;
    font-size: 16px;
}
.logo{
    color: #eaece6;
    font-size: 22px;
    margin-left: 15px;
    padding-top: 10px;
  }
  .logo .apptype{
      font-size: 18px;
  }
#aa {
  border: 1px solid black;
  margin-top: 25px;
  //margin-bottom: 100px;
  margin-right: 250px;
  margin-left: 250px;
  //background-color: lightblue;

}
#hd {
    margin-right: 5px; 
  margin-left: 0px;
 // margin-top: 0.2%;
  background-color: #EBF5FB;
  opacity: 0.9;
  box-shadow: 5px 3px 10px #888888;
  padding: 0.4rem;
}
#movName {
    background-color: aqua;
    /* padding: 0.4rem; */
  }
  #crd{
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    width: 100%;
}
#btn{
    width:100%;
    margin: 1px;
}
.hdDisp {
    margin-top: 1rem;
    margin-bottom: 1rem;
}