<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
    </head>
    
    <body>
      <div id="aa">
    <div id="hd" class="row">
      <div class="hdDisp">
        <b id="movName" routerLink="/start1" > HpLaptop</b>
       </div> 
    </div>
    
    <mat-tab-group>
        <mat-tab label="cloned">  </mat-tab>
      </mat-tab-group>    
        <div class="container" >
          <br>
          <br>
          <div class="row">          
          <div class="col-sm-0">
          <!--<img class="img-responsive"  src="assets/lap1.jpeg" class="img-thumbnail" alt="Cinque Terre" width="500" height="200"> 
          --> 
        </div>
          <div class="col-sm-6">
            <form>
            <div class="form-group">
                <label for="comment">Add Qunatity</label><br>
                <select >
                    <option>Select</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                  </select>
              </div>
            
        </form>
        <button  mat-button class="stylepopupbuttonconfirm"  routerLink="/start1">Add barcode</button>
        </div>
        </div>
        </div>
        <br><br>
       <!-- handleClick1($event)
        {
          <ngx-barcode [bc-value]="value" [bc-display-value]="true"></ngx-barcode>
        }-->
        </div>
    <!--<mat-card>Simple card</mat-card>-->
    </body>
    
